<% include ./partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<section>
        <h1><%= title %></h1>
        <button id="myBtn">Nyt produkt</button>
        <h2>Rediger Produkter</h2>
        <table>
            <thead>
                <tr>
                    <th>Redigér</th>
                    <th>Overskrift</th>
                    <th>Kategori</th>
                    <th>Udgivelse</th>
                    <th>Slet</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %> 
                <tr>
                    <td><a href="/admin/rediger-produkt/<%= product.id %>"><i class="fas fa-edit"></i></a></td>
                    <td><%= product.name %></td>
                    <td><%= product.category %></td>
                    <td><%= product.published %></td>
                    <td><i data-id="<%= product.id %>" data-category="produkter" class="fas fa-trash-alt"></i></td>
                </tr>
                <% }); %>
            </tbody>
        </table>

        
        <form action="" method="POST" id="addNewProduct" enctype="multipart/form-data" class="postForm">
            <h2>Opret nyt produkt</h2>
            <span class="close">&times;</span>
            <label>Billede</label>
            <input name="image" type="file" id="picture">
            
            <label>Overskrift</label>
            <input name="name" id="title" input="text">
            
            <label>Beskrivelse</label>
            <textarea name="description" id="content"></textarea>

            <label>Pris </label>
            <input name="price" id="pricetag">
            
            <label>Kategori</label>
            <div name="categories" class="categoryUpdate"></div>
            <p class="errorMessage"></p>
            <button type="submit">Gem produkt</button>
        </form>
	</section>
</main>
<script>
        // Get the modal
    var modal = document.getElementById("addNewProduct");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "flex";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    
    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('#content').summernote({height: 200, width: 600});
        });
      </script>
<script src="/scripts/dynamicSelect.js" ></script>
<script src="/scripts/validator.js"></script>
<script>
    // New products validation
    jsb.validationEmpty('#addNewProduct', '.ddList', 'Vælg kategori!', '.errorMessage');
    jsb.validationEmpty('#addNewProduct', '#pricetag', 'Skriv pris!', '.errorMessage');
    jsb.validationEmpty('#addNewProduct', '#content', 'Skriv indhold!', '.errorMessage');
    jsb.validationEmpty('#addNewProduct', '#title', 'Udfyld titlen!', '.errorMessage');
    jsb.validationEmpty('#addNewProduct', '#picture', 'Vælg et billede!', '.errorMessage');
</script>
<script>
const deleteButtons = document.querySelectorAll('.fa-trash-alt');
deleteButtons.forEach(btn => {
    btn.addEventListener('click', event => {
        const id = event.target.dataset.id;
        const category = event.target.dataset.category;
        fetch(`/admin/${category}/${id}`, {
            'method': 'DELETE'
        })
        .then(response => {
            if (response.status === 200) {
                window.location.reload();
            }
        });
    })
})
</script>
<% include ./partials/after-footer.ejs %>