<% include ./partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<section>
        <h1><%= title %></h1>
        <h2>Rediger artikler</h2>
        <form class="articleItem editForm" action="/admin/artikler">
            <input type="hidden" name="id" value="<%= article.id %>">
            <label><img src="../../media/<%= article.image %>" alt="" class="profileImage"></label>
            <input type="file" class="profileFileSelect" data-imageid="<%= article.id %>">
            <label>Overskrift</label>
            <input name="name" input="text" value="<%= article.name %>" >
            <label>Indhold</label>
            <textarea name="content" id="articleContent"><%= article.content %></textarea>
            <label>Kategori</label>
            <div name="categories" class="categoryUpdate" data-cat="<%= article.fk_category %>"></div>
            <label>Forfatter</label>
            <input name="author" input="text" value="<%= article.user %>" disabled >
            <button type="submit">Opdater</button>
        </form>
    </section>
</main>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('#articleContent').summernote({height: 400, width: 800});
        });
    </script>
    <script src="/scripts/dynamicSelect.js" ></script>
    <script>
    const menuArray = document.querySelectorAll('.articleItem');
    
    menuArray.forEach(file => {
    
    file.addEventListener('submit', function (event) {
        event.preventDefault();
        const data = {
                    'id': this.id.value,
                    'name': this.name.value,
                    'content': this.content.value,
                    'categoryUpdate': this.categoryUpdate.value
                };
        fetch('/admin/artikler', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
                if (response.status === 204) {
                    window.location.reload(true);
                } else {
                    console.log('Noget gik galt');
                }
            })
    });
    });
    </script>
    <script>
    const files = document.querySelectorAll('.profileFileSelect');
    files.forEach(file => {
    file.addEventListener('change', function (event) {
        const article = event.target.dataset.imageid;
        const formData = new FormData();
        formData.append('photo', this.files[0]);
        fetch(`/admin/article/image/${article}`, {
            method: 'PATCH',
            body: formData
        })
            .then(response => {
                if (response.status === 200) { 
                    return response.json();
                    window.location.reload(true);
                }
            })
            .then(data => {
                const img = document.querySelector('.profileImage');
                img.src = `../../media/${data.photo}`;
                window.location.reload(true);
            });
    });
    });
    </script>
    <% include ./partials/after-footer.ejs %>