<% include ./partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<section>
        <h1><%= title %></h1>
        <button id="myBtn">Nyt menupunkt</button>
        <h2>Rediger menupunkt</h2>
        <% menus.forEach(menu => { %> 
        <form class="menuItem" action="/admin/menu">
            <i data-id="<%= menu.id %>" data-category="menu" class="fas fa-trash-alt"></i>
            <input type="hidden" name="id" value="<%= menu.id %>">
            <label>Link-navn</label>
            <input name="name" input="text" class="nameInputs" value="<%= menu.name %>" >
            <label>Position</label>
            <input name="position" input="text" class="positionInputs" value="<%= menu.position %>" >
            <label>Link til: </label>
            <div name="pages" class="pageUpdate"></div>
            <label>Brugerdefineret link</label>
            <input name="custom" input="text" value="<%= menu.fk_category %>">
            <button type="submit">Opdater</button>
        </form>
        <% }); %>

        
        <form class="menuItemAdd" id="addMenuItem" action="" method="POST">
            <h2>Opret nyt menupunkt</h2>
            <span class="close">&times;</span>
            <label>Link-navn</label>
            <input name="name" id="nameInput" input="text">
            <label>Position</label>
            <input name="position" id="positionInput" input="text">
            <label>Link til: </label>
            <div name="pages" class="pageUpdate"></div>
            <label>Brugerdefineret link (hvis intet er valgt i "link til")</label>
            <input name="custom" input="text">
            <p class="errorMessage"></p>
            <button type="submit">Gem link</button>
    </form>
	</section>
</main>
<script>
        // Get the modal
    var modal = document.getElementById("addMenuItem");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "flex";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
<script src="/scripts/dynamicSelectLink.js" ></script>
<script src="/scripts/validator.js"></script>
<script>
// Menu validation
jsb.validationEmpty('#addMenuItem', '#positionInput', 'Udfyld en position!', '.errorMessage');
jsb.validationEmpty('#addMenuItem', '#nameInput', 'Udfyld et navn!', '.errorMessage');
// Menu validation for updateForms
jsb.validationEmpty('.menuItem', '.positionInputs', 'Udfyld en position!', '.errorMessage');
jsb.validationEmpty('.menuItem', '.nameInputs', 'Udfyld et navn!', '.errorMessage');
</script>
<script>
const menuArray = document.querySelectorAll('.menuItem');

menuArray.forEach(file => {

    file.addEventListener('submit', function (event) {
        event.preventDefault();
        const data = {
                    'id': this.id.value,
                    'name': this.name.value,
                    'position': this.position.value,
                    'pageUpdate': this.pageUpdate.value,
                    'custom': this.custom.value

                };
        fetch('/admin/menu', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
                if (response.status === 200) {
                    window.location.reload();
                } else {
                    console.log('Noget gik galt');
                }
            })
    });
});
</script>
<script>
const deleteButtons = document.querySelectorAll('.fa-trash-alt');
deleteButtons.forEach(btn => {
    btn.addEventListener('click', event => {
        const id = event.target.dataset.id;
        const category = event.target.dataset.category;
        fetch(`/admin/${category}/${id}`, {
            'method': 'DELETE'
        })
        .then(response => {
            if (response.status === 200) {
                window.location.reload();
            }
        });
    })
})
</script>
<% include ./partials/after-footer.ejs %>